# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Custom
.bak/*.tgz
consumerapp/dist
consumerapp/node_modules
nestjs-package-starter/dist
nestjs-package-starter/node_modules
consumerapp/dist/app.module.js
consumerapp/dist/app.module.js.map
consumerapp/dist/tsconfig.build.tsbuildinfo
consumerapp/dist/tsconfig.tsbuildinfo
consumerapp/dist/auth/auth.controller.d.ts
consumerapp/dist/auth/auth.controller.js
consumerapp/dist/auth/auth.controller.js.map
consumerapp/dist/auth/auth.module.d.ts
consumerapp/dist/auth/auth.module.js
consumerapp/dist/auth/auth.module.js.map
consumerapp/dist/auth/auth.service.d.ts
consumerapp/dist/auth/auth.service.js
consumerapp/dist/auth/auth.service.js.map
consumerapp/dist/auth/constants.d.ts
consumerapp/dist/auth/constants.js
consumerapp/dist/auth/constants.js.map
consumerapp/dist/auth/abstracts/index.d.ts
consumerapp/dist/auth/abstracts/index.js
consumerapp/dist/auth/abstracts/index.js.map
consumerapp/dist/auth/abstracts/users-service.abstract.d.ts
consumerapp/dist/auth/abstracts/users-service.abstract.js
consumerapp/dist/auth/abstracts/users-service.abstract.js.map
consumerapp/dist/auth/dto/index.d.ts
consumerapp/dist/auth/dto/index.js
consumerapp/dist/auth/dto/index.js.map
consumerapp/dist/auth/dto/login.dto.d.ts
consumerapp/dist/auth/dto/login.dto.js
consumerapp/dist/auth/dto/login.dto.js.map
consumerapp/dist/auth/interfaces/auth-module-options.interface.d.ts
consumerapp/dist/auth/interfaces/auth-module-options.interface.js
consumerapp/dist/auth/interfaces/auth-module-options.interface.js.map
consumerapp/dist/auth/interfaces/envconfig.interface.d.ts
consumerapp/dist/auth/interfaces/envconfig.interface.js
consumerapp/dist/auth/interfaces/envconfig.interface.js.map
consumerapp/dist/auth/interfaces/index.d.ts
consumerapp/dist/auth/interfaces/index.js
consumerapp/dist/auth/interfaces/index.js.map
consumerapp/dist/auth/types/index.d.ts
consumerapp/dist/auth/types/index.js
consumerapp/dist/auth/types/index.js.map
consumerapp/dist/auth/types/user.type.d.ts
consumerapp/dist/auth/types/user.type.js
consumerapp/dist/auth/types/user.type.js.map
consumerapp/dist/config/app.controller.d.ts
consumerapp/dist/config/app.controller.js
consumerapp/dist/config/app.controller.js.map
consumerapp/dist/config/auth.controller.d.ts
consumerapp/dist/config/auth.controller.js
consumerapp/dist/config/auth.controller.js.map
consumerapp/dist/config/auth.module.d.ts
consumerapp/dist/config/auth.module.js
consumerapp/dist/config/auth.module.js.map
consumerapp/dist/config/auth.service.d.ts
consumerapp/dist/config/auth.service.js
consumerapp/dist/config/auth.service.js.map
consumerapp/dist/config/auth.service.spec.d.ts
consumerapp/dist/config/auth.service.spec.js
consumerapp/dist/config/auth.service.spec.js.map
consumerapp/dist/config/config.controller.d.ts
consumerapp/dist/config/config.controller.js
consumerapp/dist/config/config.controller.js.map
consumerapp/dist/config/config.module.d.ts
consumerapp/dist/config/config.module.js
consumerapp/dist/config/config.module.js.map
consumerapp/dist/config/config.service.d.ts
consumerapp/dist/config/config.service.js
consumerapp/dist/config/config.service.js.map
consumerapp/dist/config/config.service.spec.d.ts
consumerapp/dist/config/config.service.spec.js
consumerapp/dist/config/config.service.spec.js.map
consumerapp/dist/config/constants.d.ts
consumerapp/dist/config/constants.js
consumerapp/dist/config/constants.js.map
consumerapp/dist/config/abstracts/index.d.ts
consumerapp/dist/config/abstracts/index.js
consumerapp/dist/config/abstracts/index.js.map
consumerapp/dist/config/abstracts/users-service.abstract.d.ts
consumerapp/dist/config/abstracts/users-service.abstract.js
consumerapp/dist/config/abstracts/users-service.abstract.js.map
consumerapp/dist/config/dto/index.d.ts
consumerapp/dist/config/dto/index.js
consumerapp/dist/config/dto/index.js.map
consumerapp/dist/config/dto/login.dto.d.ts
consumerapp/dist/config/dto/login.dto.js
consumerapp/dist/config/dto/login.dto.js.map
consumerapp/dist/config/interfaces/auth-module-options.interface.d.ts
consumerapp/dist/config/interfaces/auth-module-options.interface.js
consumerapp/dist/config/interfaces/auth-module-options.interface.js.map
consumerapp/dist/config/interfaces/config-module-options.abstract.d.ts
consumerapp/dist/config/interfaces/config-module-options.abstract.js
consumerapp/dist/config/interfaces/config-module-options.abstract.js.map
consumerapp/dist/config/interfaces/config-module-options.interface.d.ts
consumerapp/dist/config/interfaces/config-module-options.interface.js
consumerapp/dist/config/interfaces/config-module-options.interface.js.map
consumerapp/dist/config/interfaces/config-options.interface.d.ts
consumerapp/dist/config/interfaces/config-options.interface.js
consumerapp/dist/config/interfaces/config-options.interface.js.map
consumerapp/dist/config/interfaces/envconfig.interface.d.ts
consumerapp/dist/config/interfaces/envconfig.interface.js
consumerapp/dist/config/interfaces/envconfig.interface.js.map
consumerapp/dist/config/interfaces/index.d.ts
consumerapp/dist/config/interfaces/index.js
consumerapp/dist/config/interfaces/index.js.map
consumerapp/dist/config/interfaces/user.interface.d.ts
consumerapp/dist/config/interfaces/user.interface.js
consumerapp/dist/config/interfaces/user.interface.js.map
consumerapp/dist/config/interfaces/users-service.abstract.d.ts
consumerapp/dist/config/interfaces/users-service.abstract.js
consumerapp/dist/config/interfaces/users-service.abstract.js.map
consumerapp/dist/config/interfaces/users-service.interface.d.ts
consumerapp/dist/config/interfaces/users-service.interface.js
consumerapp/dist/config/interfaces/users-service.interface.js.map
consumerapp/dist/config/types/index.d.ts
consumerapp/dist/config/types/index.js
consumerapp/dist/config/types/index.js.map
consumerapp/dist/config/types/user.interface.d.ts
consumerapp/dist/config/types/user.interface.js
consumerapp/dist/config/types/user.interface.js.map
consumerapp/dist/config/types/user.type.d.ts
consumerapp/dist/config/types/user.type.js
consumerapp/dist/config/types/user.type.js.map
